services:
  gateway:
    image: ghcr.io/partymaster64/iot-gateway:latest
    container_name: iot-gateway
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    privileged: true
    volumes:
      - /dev:/dev

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60
