services:
  gateway:
    image: ghcr.io/partymaster64/iot-gateway:latest
    container_name: iot-gateway
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    privileged: true
    volumes:
      - /dev:/dev
      - devicebox-data:/data

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.46
      - WATCHTOWER_HTTP_API_METRICS=true
      - WATCHTOWER_HTTP_API_TOKEN=devicebox-watchtower
    command: --interval 15 --http-api-metrics

volumes:
  devicebox-data:
